:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400;
  }

@font-face {
    font-family: Inter;
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/static/Inter-Bold.ttf);
    font-weight: 700;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    font-family: Inter;
    font-size: 14px;
}

body {
    background-color: var(--off-black);
    color: var(--white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--dark-grey);
    width: 345px;
    height: auto;
    padding: 40px;
    display: block;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
}

.card > * {
    padding-bottom: 30px;
}

.card:last-child {
    padding-bottom: 0px;
}

.pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}

.name {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
}

.location {
    font-weight: 700;
    color: var(--green);
}

.button-list{
    display: flex;
    flex-direction: column;
}

.button {
    display: inline-block;
    background-color: var(--grey);
    margin-bottom: 20px;
    color: var(--white);
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    font-weight: 700;
}

.button:hover {
    color: var(--off-black);
    background-color: var(--green);
}

.button:last-child {
    margin-bottom: 0;
}